.rightbarfriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

    .rightbarimgwrapper {
        margin-right: 10px;
        position: relative;

        .rightbarimg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .rightbaronline {
            position: absolute;
            background-color: limegreen;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            top: -6px;
            right: -6px;
            border: 2px solid #fff;
        }
    }

    .rightbarusername {
        font-weight: 500;
        color: #333;
    }
}


@media screen and (max-width: 768px) {
    .rightbar {
        display: none;
    }
}